@model ProductsPageViewModel
<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
    <div class="container">

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
            <ul class="navbar-nav flex-grow-1">
                @{
                    @foreach (var item in Model.Categories)
                    {
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Products" asp-action="Index" asp-route-id="@item.Id">@item.CategoryName</a>
                        </li>
                    }
                   
                    
                }
                
            </ul>
           <a class="btn btn-primary" asp-controller="Products" asp-action="Create" asp-route-id="@ViewContext.RouteData.Values["id"].ToString()">Add Product</a>
        </div>
    </div>
</nav>