@{
    ViewData["Title"] = "Home Page";
}




<div class="d-flex justify-content-center" style="margin-top:60px;height:500px;">
    <div class="card " style="width: 18rem;">
        <img src="~/lib/product.png" />
        <div class="card-body">
            <h5 class="card-title">Produkter</h5>
            <p class="card-text">Hantera.</p>
            <a class="btn btn-primary" asp-area="" asp-controller="Products" asp-action="Index" asp-route-id="1">Starta</a>
        </div>
    </div>

    <div class="card" style="width: 18rem; margin-left: 25px;">
        <img src="~/lib/customer.png" />
        <div class="card-body">
            <h5 class="card-title">Kunder</h5>
            <p class="card-text">Hantera.</p>
            <a class="btn btn-primary" asp-area="" asp-controller="Customers" asp-action="Index">Starta</a>
            
        </div>
    </div>
</div>

