@{
    ViewData["Title"] = "Home Page";
}





<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="active nav-link" data-toggle="tab" href="#home">Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#menu1">Menu 1</a>
    </li>
</ul>
<div class="tab-content">
    <div id="home" class="tab-pane fade show active">
        <h3>HOME</h3>
        <partial name="_Login.cshtml">
    </div>
    <div id="menu1" class="tab-pane fade">
        <h3>Menu 1</h3>
        <partial name="_Register.cshtml">
    </div>
</div>


